# docs generados (build)
docs/out/

# node
node_modules/

# mutant
/.mutant/

# secrets
.env
.env.*
!.env.example
*.local
# Ignore key files for decrypting credentials and more.
/config/*.key


# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

# Bundler
/.bundle

# Logs y temporales
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

